ul {
    list-style: none;
   
}

li a {
    text-decoration:none;
    display: block;
    text-align: center;
    padding: 10px 150px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    
}

li{
    float: left;
    
}



body {
    background-color: green;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.box {
    display: inline-block;
    width: 49%;
    height: 350px;
    background-color: yellow;
    margin-top: 100px;
}

.box1 {
    display: inline-block;
    width: 49%;
    height: 350px;
    background-color: yellow;
    margin-top: 200px;
}
.box1 img {
    height: 60%;
    
    object-fit: contain;
    width: 30%;
    float: left;
}

.box img {
    height: 60%;
    
    object-fit:contain;
    width: 30%;
    float: right;
}

.textbox {
    display: inline-block;
    width: 70%;
   
}
.textbox p {
    display: inline-block;
    
    
}